#todo list
snippet todo
	(${1}) `strftime("%Y-%m-%d")`${2} +${0}

snippet trip
	When: 
	`strftime("%c")`
	Where:
	MK
	What:
	Bumper Number: ${1}
	Who: 
	Driver: ${2}
	TC: ${3} 
	Passengers:
	${4}

	Total Pax:
	${5}

snippet cl
	Class Number: 

snippet tp
		Topic:

snippet re
		Assigned Reading for this Class: sec. ${1} ch. ${2} to ch. ${3}
		"On Killing by Lt. Col. Dave Grossman"

snippet du
		Assignments Due: 
	
