#todo list
snippet todo
	(${1}) `strftime("%Y-%m-%d")` ${2} +${0}

snippet cl
	Class Number: 

snippet tp
		Topic:

snippet re
		Assigned Reading for this Class: sec. ${1} ch. ${2} to ch. ${3}
		"On Killing by Lt. Col. Dave Grossman"

snippet du
		Assignments Due: 
	
