#Citations
snippet pc \paren
	\parencite[p. ${2}]{${1}}. ${0}
	
snippet cy \citey
	(\citeyear{${1}}). ${0}

snippet ca \citea
	\citeauthor{${1}} ${0}
	
snippet dsm \citea
	\parencite[p. ${1}]{DSM} ${0}
	
